<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>MechBid</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Styles -->
<link href="../css/bootstrap.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
<link href="../css/bootstrap-responsive.css" rel="stylesheet">
<link href="../css/custom.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../js/html5shiv.js"></script>
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="../js/location_services.js"></script>
    <script language="javascript">

    </script>
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../ico/favicon.png">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="brand" href="/">MechBid</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn" name="signIn" >Sign in</button>
        </form>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>
<div class="container"> 
  
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>MechBid &#8211; your one-stop source for Ontario mechanics</h1>
    <p>MechBid is the leading provider of auto repair and maintenance information to consumers. Our extensive network of repair shops helps you find a repair shop you can trust, and our price estimator ensures you never pay more than you should. We also offer an extensive database of articles, reports, and references from our in-house repair experts and community of car owners.</p>
    <div class="search-box-home">
      <form class="form-inline"  method="post" onsubmit="return resolveSearchLocation()">
        <input type="hidden" name="category" value="books" />
        <label for="search">I want to fix my</label>
        <input type="text" name="search" data-provide="typeahead" data-items="4" data-source="[&quot;Acura&quot;,
&quot;Audi&quot;,
&quot;BMW&quot;,
&quot;Buick&quot;,
&quot;Cadillac&quot;,
&quot;Chevrolet&quot;,
&quot;Chrysler&quot;,
&quot;Dodge&quot;,
&quot;FIAT&quot;,
&quot;Ford&quot;,
&quot;Geo&quot;,
&quot;GMC&quot;,
&quot;Honda&quot;,
&quot;Hummer&quot;,
&quot;Hyundai&quot;,
&quot;Infiniti&quot;,
&quot;Isuzu&quot;,
&quot;Jaguar&quot;,
&quot;Jeep&quot;,
&quot;Kia&quot;,
&quot;Land Rover&quot;,
&quot;Lexus&quot;,
&quot;Lincoln&quot;,
&quot;Mazda&quot;,
&quot;Mercedes-Benz&quot;,
&quot;Mercury&quot;,
&quot;Mini&quot;,
&quot;Mitsubishi&quot;,
&quot;Nissan&quot;,
&quot;Oldsmobile&quot;,
&quot;Plymouth&quot;,
&quot;Pontiac&quot;,
&quot;Porsche&quot;,
&quot;Ram&quot;,
&quot;Saab&quot;,
&quot;Saturn&quot;,
&quot;Scion&quot;,
&quot;Smart&quot;,
&quot;Subaru&quot;,
&quot;Suzuki&quot;,
&quot;Toyota&quot;,
&quot;Volkswagen&quot;,
&quot;Volvo&quot;]" autocomplete="off">
        <label for="location">near</label>
        <input type="text" name="location" id="location" value=""/>
        <input class="btn btn-primary" id="subreview" name="subreview" type="submit" value="Find a Repair Shop &raquo;" />
      </form>
      <div class="clearfix" />
    </div>
  </div>
</div>

<!-- Example row of columns --> 
<!--  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
-->
<hr>
<footer>
  <p>&copy; MechBid 2013
      <br>
    Note: Dear user, if location was not provided as a criteria for search - the system will try to fetch the location from your browser to use a center point for the search.
          In such case - please make sure that your browser is allowed to identify your location.
      <br>
    Your Coordinates: ---------<input type="text" id="userCurrPosition" size="50" name="userCurrPosition" value="initial"><!--this is for test purposes , to be removed-->
      <br>
    Coord. from search str.:--<input type="text" id="requestedSearchLocation" size="50" name="requestedSearchLocation" value="initial"><!--this is for test purposes , to be removed-->
      <br>
    Result. coord. for search:<input type="text" id="coordinatesForSearch" size="50" name="coordinatesForSearch" value="initial"><!--this is for test purposes , to be removed-->
</p>
</footer>

</div>
<!-- /container --> 

<!-- Javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>