<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add New Business</title>
<script language="javascript">
phones = 1;
lang = 1;

function addPhone() {
if (phones != 3) {
phones += 1;
document.getElementById('phone_number').innerHTML +=  "<table>"+
        "<tr><td><label for='type'>Type:</label>"+
            "</td><td><div class='input'>"+
                "<select name='phone_type"+phones+"' value=''>"+
                "<option value='fax'>Fax</option>"+
                "<option value='secondary'>Secondary</option>"+
                "</select>"+
           "</div></td></tr><tr><td>"+
            "<label for='phone'>Number:</label>"+
            "</td><td>"+
            "<div class='input'>"+
                "<input type='text' name='phone_number"+phones+"' value='' />  "+
            "</div>"+
            "</td>"+
        "</tr>"+
        "</table>";

} else {
document.getElementById('phone_number').innerHTML += "<br />Only 3 phones allowed.";
document.getElementById('add_phone').disabled=true;
}
}

function addLanguage() {
if (lang != 5) {
lang += 1;
document.getElementById('language').innerHTML +=  "<table>"+
        "<tr>"+
            "<td>"+
            "<label for='type'>Language:</label>"+
            "</td><td>"+
            "<div class='input'>"+
                "<select name='language"+lang+"' value=''> "+
                "<option value='English'>English</option>  "+
                "<option value='French'>French</option>"+
                "<option value='Russian'>Russian</option>"+
                "<option value='Cantonese'>Cantonese</option>"+
                "<option value='Ukrainian'>Ukrainian</option>"+
                "<option value='Hebrew'>Hebrew</option>"+
                "<option value='German'>German</option>"+
                "<option value='Farsi'>Farsi</option>"+
                "<option value='Italian'>Italian</option>"+
                "</select>"+
            "</div>"+
            "</td>"+
        "</tr>"+
        "</table>";

} else {
document.getElementById('language').innerHTML += "<br />Only 5 languages allowed.";
document.getElementById('add_lang').disabled=true;
}
}
function addBrand() {
    if(document.getElementById('brnds').value == '')
        {document.getElementById('brnds').value = document.getElementById('select_brand').value;}
    else
        {document.getElementById('brnds').value = document.getElementById('brnds').value+','+document.getElementById('select_brand').value;}
}

function addPayment() {
    if(document.getElementById('pymnt').value == '')
        {document.getElementById('pymnt').value = document.getElementById('select_payment').value;}
    else
        {document.getElementById('pymnt').value = document.getElementById('pymnt').value+','+document.getElementById('select_payment').value;}
}
</script>

</head>

<body>


<h3>Add New Business</h3>

    <form action="/new_business" method="post">
        <input type="hidden" name="category" value="books" />

       <table border="0" width="400px">
        <tr>
            <td>
            <label for="name">Business name:</label>
            </td><td>
            <div class="input">
                <input type="text" name="name" value="{{name}}" />
            </div>
            </td>
         </tr>

        <tr>
            <td>
            <label for="name">Address</label>
            </td><td>

            </td>
        </tr>

        <tr>
            <td>
            <label for="name">Street:</label>
            </td><td>
            <div class="input">
                <input type="text" name="street" value="{{street}}" />
            </div>
            </td>
        </tr>

        <tr>
            <td>
            <label for="name">City:</label>
            </td><td>
            <div class="input">
                <input type="text" name="city" value="{{city}}" />
            </div>
            </td>
        </tr>

        <tr>
            <td>
            <label for="name">Province:</label>
            </td><td>
            <div class="input">
                <select name="province" value="{{province}}">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
                </select>
            </div>
            </td>
        </tr>

        <tr>
            <td>
               <label for="name">Postal Code:</label>
            </td><td>
            <div class="input">
                <input type="text" name="pcode" value="{{pcode}}" />
            </div>
            </td>
        </tr>

         <tr>
            <td>
            <label for="name">Phone</label>
            </td><td>

            </td>
        </tr>
        </table>
        <div id="phone_number">
        <table>
        <tr>
            <td>
            <label for="type">Type:</label>
            </td><td>
            <div class="input">
                <select name="phone_type" value="{{phone}}">
                <option value="primary">Primary</option>
                <option value="fax">Fax</option>
                <option value="secondary">Secondary</option>
                </select>
            </div>
            </td>
        </tr>
        <tr>
            <td>
            <label for="phone">Number:</label>
            </td><td>
            <div class="input">
                <input type="text" name="phone_number" value="{{phone}}" />
                <a href="#" onclick="addPhone()" id="add_phone">Add phone</a>
            </div>

            </td>
        </tr>
        </table>
        </div>

        <table border="0" width="400px">
        <tr>
            <td>
            <label for="name">Email:</label>
            </td><td>
            <div class="input">
                <input type="text" name="email" value="{{email}}" />
            </div>
            </td>
        </tr>

        <tr>
            <td>
            <label for="name">Website:</label>
            </td><td>
            <div class="input">
                <input type="text" name="website" value="{{website}}" />
            </div>
            </td>
        </tr>
        </table>

        <div id="language">
        <table>
        <tr>
            <td>
            <label for="type">Language:</label>
            </td><td>
            <div class="input">
                <select name="language" value="{{language}}">
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="Russian">Russian</option>
                <option value="Cantonese">Cantonese</option>
                <option value="Ukrainian">Ukrainian</option>
                <option value="Hebrew">Hebrew</option>
                <option value="German">German</option>
                <option value="Farsi">Farsi</option>
                <option value="Italian">Italian</option>
                </select>
                <a href="#" onclick="addLanguage()" id="add_lang">Add language</a>
            </div>
            </td>
        </tr>
        </table>
        </div>

        <table border="0" width="400px">
        <tr>
            <td>
               <label for="type">Brands Serviced:</label>
            </td><td>
               <div class="input">
                <select id="select_brand" name="brand" value="{{brand}}">
                {% for car in car_brands %}
                <option value="{{ car }}">{{ car }}</option>
                {% endfor %}
                </select>
                 <a href="#" onclick="addBrand()" id="add_brand">Add</a>
            </div>
            </td>
        </tr>
        </table>

             <div class="input">
                <textarea id="brnds" name="brands" rows="3" cols="40">{{brands}}</textarea>
            </div>

    <table border="0" width="400px">
        <tr>
            <td>
               <label for="type">Payment Method:</label>
            </td><td>
               <div class="input">
                <select id="select_payment" name="payment" value="{{language}}">
                <option value="Visa">Visa</option>
                <option value="Amex">American Express</option>
                <option value="Debit">Debit</option>
                <option value="Cheques">Cheques</option>
                <option value="Cash">Cash</option>
                </select>
                 <a href="#" onclick="addPayment()" id="add_payment">Add</a>
            </div>
            </td>
        </tr>
        </table>

             <div class="input">
                <textarea id="pymnt" name="payment" rows="3" cols="40">{{payment}}</textarea>
            </div>

        <table>
        <tr>
            <td>

            </td><td>

            </td>
        </tr>
        <tr>
            <td>

            </td><td>

            </td>
        </tr>

       </table>
    <input type="submit" value="Add Business">
    </form>

</body>
</html>
