<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div>
  <h2>Signup</h2>
  <form method="post" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" name="username" value="{{username}}" id="username" placeholder="Choose your username">
        &nbsp;{{error_username}} </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="Password">Password</label>
      <div class="controls">
        <input type="password" name="password" id="password">
        &nbsp;{{error_password}} </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="verify">Verify Password</label>
      <div class="controls">
        <input type="password" name="verify" id="verify">
        &nbsp;{{error_verify}} </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email (optional)</label>
      <div class="controls">
        <input type="text" name="email" value="{{email}}" id="email" placeholder="Enter your email">
        &nbsp;{{error_email}} </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button>
        <input type="hidden" name="next_url" value={{ next_url }}>
      </div>
    </div>
    Have an account <a href="/login">Login</a>
  </form>
</div>
</body>
</html>